@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.container {
    border-style: solid;
    border-width: 5px;
    border-color: #0967d219;
}

.bg-container {
    margin: 15px;

}

.top-heading {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
}

.top-image {
    margin: 15px;
    height: 64px;
    width: 64px;
}

.button {
    background-color: #0967d2;
    font-family: "Roboto";
    font-size: 12px;
    color: white;
    padding: 5px;
    height: 35px;
    width: 100px;
    border-radius: 8px;
    border-width: 0px;
}

.test-container {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.test-bg {
    background-color: #0967d219;
}

.test-container-heading {
    font-family: "Roboto";
    font-size: 16px;
    color: #323f4b;
    padding: 5px;
    font-weight: 500;
}

.test-container-paragraph {
    font-family: "Roboto";
    font-size: 12px;
    color: #707070;
    padding: 5px;
}

.test-container-image {
    margin: 15px;
    height: 48px;
    width: 48px;
}

.sub-heading {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
}

.cough-sympton-bg {
    background-color: #3ebd93;
}

.fever-sympton-bg {
    background-color: #e668a7;
}

.headache-sympton-bg {
    background-color: #a368fc;
}

.sympton-text {
    font-family: "Roboto";
    font-size: 12px;
    color: white;
    margin: 5px;
    font-weight: 500;
}

.card-conainer {
    background-color: #e12d3919;
}

.card-heading {
    font-family: "Roboto";
    font-size: 16px;
    color: #323f4b;
    padding: 5px;
    font-weight: 500;
}

.card-paragraph {
    font-family: "Roboto";
    font-size: 12px;
    color: #707070;
    padding: 5px;
}